# Dependencies
node_modules/
frontend/node_modules/

# Hardhat
artifacts/
cache/

# Environment variables
.env
frontend/.env

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db